.chat-window {
	padding: 3rem;
	background-color: lightgreen;
}

.chat-bubble {
	display: table;
	background-color: green;
	border-radius: 20px;
	padding: 1rem;
	margin-bottom: 0.5rem;
}

.sender {
	font-weight: bold;
}

.required {
	color: red;
}

ul {
	padding: 0;
}

.message {
	margin-top: 0.5rem;
}

.message-time {
	font-size: 10px;
}
label {
	display: block;
}

.fetch-messages {
	margin-bottom: 1.5rem;
}
